/**
* Luke O'Neill
* CSS for Webpage */

body {
  margin: 0;
  padding: 0;
}

h2,
h3 {
  margin: 10px;
  font-size: 1.2em;
}

h3 {
  font-size: 1em;
}

p {
  font-size: 1em;
  margin: 10px;
  text-align: left;
}

/**
* Create a position for the map
* on the page */
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#lgDesc {
  font-size: 0.85em;
}

/**
* Style search box
 */
#searchText {
  width: 90%;
  padding: 10px 15px;
  margin: 10px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.map-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(222, 223, 224, 0.8);
  margin-right: 20px;
  font-family: Arial, sans-serif;
  overflow: auto;
  border-radius: 3px;
}

#features {
  top: 0;
  height: 300px;
  margin-top: 20px;
  width: 250px;
}
